body{
  background-image: url("bg.jpg");
  background-size: cover;
  height: 100vh;
}
.container{
  text-align: center;
  background: #dedcdc;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 25%;
  margin-top: 120px;
  max-width: 50%;
}
.lable{
  font-weight: bold;
}
input{
  width: 55px;
  height: 25px;
  border: 0;
  border-radius: 5px;
}

button{
  border: 1px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #d9a7eb;
  color: #3d3d3d;
  font-weight: bold;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
}
#reset{
  background: #fa7373;
}

p{
  font-size: 25px;
  font-weight: bold;
}
